page-informe {
	.center-button{
	margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	}


	.button-md{
		box-shadow: 0 2px 2px 0 #ffffff80, 0 3px 1px -2px #ffffff80, 0 1px 5px 0 #ffffff80;
	}

}
