page-camera {

.buttonCaamera{
    border-radius: 100px;
    color: #32a480 !important;
    background-color: #FFF !important;
    color: #fff;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    font-size: 30px;
  }

  .button{
    border-radius: 7px;
    background-color: #26FB51;
    color: #fff;
    padding: 20px 50px 20px;
  }


}
