<ion-header>

  <ion-navbar>
    <ion-title>Agregar Nuevo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-style">

	<!-- isologo inicio-->
	<div id="logo" padding text-center>
    <img src="./assets/img/Logo_bima_Blanco.png">
    </div>
	<!-- isologo fin-->

	<!--Bima-->
	<div id="tex" padding text-center>
		<h1 ion-text>BIMA</h1>
	</div>	
	
	<!--Posicionamiento-->
	<div id="timeline">
		 <!--Cuadricula-->
		<ion-grid >
			<!--fila-->
			<ion-row class="timelineheight">

				<!--Columna 1-->
				<ion-col>
					<p text-center class="numberAct">1</p>
					<p text-center id="tex-line">Fotos</p>
				</ion-col>

				<!--Columna 2-->
				<ion-col>
					<p text-center class="numberDesact">2</p>
					<p text-center id="tex-line">Datos</p>
				</ion-col>

				<!--Columna 3-->
				<ion-col>
					<p text-center class="numberDesact">3</p>
					<p text-center id="tex-line">Calculos</p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div padding text-center>
			<img [src]="currentImage" *ngIf="currentImage">
	</div>

	
	<div padding text-center buttonCaamera>
		<button ion-button icon-only (click)="takePicture()">
 		 <ion-icon name="camera"></ion-icon>
		</button>
	 </div>
	 
	 <div padding text-center button *ngIf="show">
			<button ion-button  block color="light" (click)="Continuar()">
			 CONTINUAR
			</button>
	  </div>
	
</ion-content>
